* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

html{
    /* variáveis */
    --bg-color: #EDF2FF;
    --text-color: #00082F;
    --primary-color: #0FA564;
    --primary-color-dark: #0C834F;
}

body.dark-blue {
    --bg-color: #00082F;
    --text-color: #EDF2FF;
}

body.pink {
    --bg-color: #fff0f6;
    --text-color: #1f000b;
    --primary-color: #d6336c;
    --primary-color-dark: #a61e4d;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 300px;
    text-align: center;
    margin: 36px auto;
}

img {
    width: 100%;
}

img.avatar {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    padding: 3.7px;
    border: var(--primary-color) solid 4px;
}

h1 {
    font-size: 32px;
    margin-top: 24px;
    margin-bottom: 8px;
}

.bio {
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    opacity: .8;
    font-size: 18px;
}

.badges i {
    font-size: 28px;
    color: var(--primary-color);
    margin: 12px 10px 8px 10px;
}

ul {
    list-style: none;
    margin: 20px 0;
}

i {
    padding-right: 4px;
}

ul li a {
    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    margin-bottom: 16px;
    border-radius: 6px;
    transition: background 400ms;
}

ul li a:hover {
    background: var(--primary-color-dark);
    color: #00082F;
}

footer {
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
    transition: opacity 400ms;
}

footer:hover {
    opacity: 1;
}

footer a {
    color: var(--text-color);
}
